<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.UserMapper">
    <insert id="insert">
        insert into demo.user(username,password,name) values (#{username},#{password},#{name})
    </insert>
    <select id="login" resultType="com.liang.pojo.User">
        select * from demo.user where username=#{username}
    </select>
    <select id="isusername" resultType="com.liang.pojo.User">
        select * from demo.user where username=#{username}
    </select>
    <insert id="addBox">
        insert into demo.paper(sex,username,area, sign,text,vx) value (#{sex},#{username},#{area},#{sign},#{text},#{vx})
    </insert>
    <select id="getBox" resultType="com.liang.pojo.Paper">
        select * from demo.paper where sex=#{sex} and area=#{area} and sign=#{sign} order by rand() limit 1;
    </select>
    <select id="findSend" resultType="com.liang.pojo.Paper">
        select * from demo.paper where username=#{username}
    </select>
    <select id="findOwn" resultType="com.liang.pojo.Paper">
        select * from demo.paper where owner=#{username}
    </select>
</mapper>